absl-py==1.0.0
adagio==0.2.4
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.7.7
altair==4.2.0
anaconda-client==1.9.0
anaconda-navigator==2.1.4
anaconda-project==0.10.1
analytics-python==1.4.0
ansi2html==1.7.0
antlr4-python3-runtime==4.9.3
anyconfig==0.10.1
anyio==3.5.0
apache-airflow-providers-ftp==2.1.2
apache-airflow-providers-google==6.7.0
apache-airflow-providers-http==2.1.2
apache-airflow-providers-imap==2.2.3
apache-airflow-providers-postgres==4.1.0
apache-airflow-providers-sqlite==2.1.3
apache-airflow==2.2.5
apispec==3.3.2
appdirs==1.4.4
argcomplete==1.12.3
argh==0.26.2
argon2-cffi==20.1.0
arrow==0.13.1
asgiref==3.5.0
asn1crypto==1.4.0
astroid==2.6.6
astropy==4.3.1
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==20.3.0
autopage==0.5.1
autopep8==1.5.7
autoviz==0.1.39
babel==2.9.1
backcall==0.2.0
backoff==1.10.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.1.1
bcrypt==3.2.2
beautifulsoup4==4.10.0
binaryornot==0.4.4
bitarray==1.2.2
bkcharts==0.2
black==19.10b0
bleach==4.0.0
blinker==1.4
bokeh==2.4.3
boto==2.49.0
bottleneck==1.3.2
brotli==1.0.9
brotlipy==0.7.0
cached-property==1.5.2
cachelib==0.6.0
cachetools==4.2.2
catboost==1.0.6
category-encoders==2.5.0
cattrs==1.10.0
causalml==0.12.3
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
chart-studio==1.1.0
click==8.1.0
clickclick==20.10.2
cliff==3.10.1
cloudpickle==2.0.0
clyent==1.2.2
cmaes==0.8.2
cmd2==2.4.1
colorama==0.4.4
colorcet==3.0.0
colorlog==4.8.0
colour==0.1.5
commonmark==0.9.1
conda-build==3.21.8
conda-content-trust==0+unknown
conda-pack==0.6.0
conda-package-handling==1.8.1
conda-repo-cli==1.0.4
conda-token==0.3.0
conda-verify==3.4.2
conda==4.12.0
connexion==2.13.0
contextlib2==0.6.0.post1
cookiecutter==1.7.2
croniter==1.3.4
cryptography==36.0.2
cycler==0.10.0
cython==0.29.24
cytoolz==0.11.0
daal4py==2021.3.0
dash-auth==1.4.1
dash-bootstrap-components==0.13.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.4.1
dask==2021.10.0
databricks-cli==0.16.6
dataclasses==0.6
db-dtypes==1.0.0
debugpy==1.4.1
decorator==5.1.0
deepchecks==0.7.1
defusedxml==0.7.1
deprecated==1.2.13
diff-match-patch==20200713
dill==0.3.5.1
distlib==0.3.4
distributed==2021.10.0
dnspython==2.2.1
docker-pycreds==0.4.0
docker==5.0.3
docstring-to-markdown==0.10
docutils==0.16
dtreeviz==1.3.6
dynaconf==3.1.9
elastic-transport==8.1.2
elasticsearch==8.1.2
email-validator==1.1.3
emoji==1.7.0
entrypoints==0.3
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.7
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-tester==0.6.0b6
eth-typing==2.3.0
eth-utils==1.10.0
eventlet==0.33.0
evidently==0.1.51.dev0
explainerdashboard==0.3.8.2
fairlearn==0.7.0
fastapi==0.75.2
fastcache==1.1.0
fastjsonschema==2.15.3
ffmpy==0.3.0
filelock==3.6.0
flake8==3.9.2
flask-appbuilder==3.4.5
flask-babel==2.0.0
flask-caching==1.10.1
flask-compress==1.12
flask-jwt-extended==3.25.1
flask-login==0.4.1
flask-openid==1.3.0
flask-seasurf==1.1.1
flask-session==0.4.0
flask-simplelogin==0.1.1
flask-sqlalchemy==2.5.1
flask-wtf==0.15.1
flask==2.1.2
fonttools==4.25.0
frozenlist==1.3.0
fs==2.4.16
fsspec==2021.8.1
fugue==0.6.6
future==0.18.2
gevent==21.12.0
gitdb==4.0.9
gitpython==3.1.27
glob2==0.7
gmpy2==2.0.8
google-ads==14.0.0
google-api-core==1.31.5
google-api-python-client==1.12.11
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-auth==1.35.0
google-cloud-aiplatform==1.11.0
google-cloud-appengine-logging==1.1.1
google-cloud-audit-log==0.2.0
google-cloud-automl==2.7.2
google-cloud-bigquery-datatransfer==3.6.1
google-cloud-bigquery-storage==2.13.0
google-cloud-bigquery==2.34.2
google-cloud-bigtable==1.7.0
google-cloud-build==3.8.1
google-cloud-container==1.0.1
google-cloud-core==1.7.2
google-cloud-datacatalog==3.7.1
google-cloud-dataplex==0.2.1
google-cloud-dataproc-metastore==1.5.0
google-cloud-dataproc==4.0.1
google-cloud-dlp==1.0.0
google-cloud-kms==2.11.1
google-cloud-language==1.3.0
google-cloud-logging==3.0.0
google-cloud-memcache==1.3.1
google-cloud-monitoring==2.9.1
google-cloud-orchestration-airflow==1.3.1
google-cloud-os-login==2.6.1
google-cloud-pubsub==2.11.0
google-cloud-redis==2.8.0
google-cloud-secret-manager==1.0.0
google-cloud-spanner==1.19.1
google-cloud-speech==1.3.2
google-cloud-storage==1.44.0
google-cloud-tasks==2.8.1
google-cloud-texttospeech==1.0.1
google-cloud-translate==1.7.0
google-cloud-videointelligence==1.16.1
google-cloud-vision==1.0.0
google-cloud-workflows==1.6.1
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
gradio==3.0.11
graphviz==0.20
greenlet==1.1.2
grpc-google-iam-v1==0.12.3
grpcio-gcp==0.2.2
grpcio-status==1.45.0
grpcio-tools==1.46.3
grpcio==1.46.3
gunicorn==20.1.0
h11==0.12.0
h5py==3.3.0
heapdict==1.0.1
hexbytes==0.2.2
holoviews==1.14.9
html5lib==1.1
htmlmin==0.1.12
httpcore==0.14.7
httplib2==0.19.1
httptools==0.4.0
httpx==0.22.0
huggingface-hub==0.7.0
hvplot==0.8.0
hydra-core==1.2.0
hyperopt==0.2.7
idna==3.3
imagecodecs==2021.8.26
imagehash==4.2.1
imageio==2.9.0
imagesize==1.2.0
imbalanced-learn==0.9.1
importlib-metadata==4.11.3
inflection==0.5.1
iniconfig==1.1.1
interpret-core==0.2.7
interpret==0.2.7
intervaltree==3.1.0
ipfshttpclient==0.8.0a2
ipykernel==6.4.1
ipython-genutils==0.2.0
ipython==7.29.0
ipywidgets==7.6.5
iso8601==1.0.2
isort==5.9.3
itsdangerous==2.1.2
jdcal==1.4.1
jedi-language-server==0.36.0
jedi==0.18.1
jeepney==0.7.1
jinja2-time==0.2.0
jinja2==2.11.3
jmespath==0.10.0
joblib==1.1.0
json-merge-patch==0.2
json5==0.9.6
jsonpickle==2.2.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyter-dash==0.4.2
jupyter-server==1.17.0
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.14.0
jupyterlab-widgets==1.0.0
jupyterlab==3.4.3
kafka-python==2.0.2
kaleido==0.2.1
kedro==0.18.1
keyring==23.1.0
kiwisolver==1.3.1
kmodes==0.12.1
lazy-object-proxy==1.4.3
libarchive-c==2.9
lightgbm==3.3.2
lime==0.2.0.1
linkify-it-py==1.0.3
llvmlite==0.38.1
locket==0.2.1
lockfile==0.12.2
looker-sdk==22.4.0
lru-dict==1.1.7
lxml==4.6.3
m2cgen==0.10.0
mako==1.2.0
markdown-it-py==2.1.0
markdown==3.3.6
markupsafe==1.1.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
marshmallow==3.15.0
matplotlib-inline==0.1.2
matplotlib==3.4.3
mccabe==0.6.1
mdit-py-plugins==0.3.0
mdurl==0.1.1
missingno==0.5.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlflow==1.26.1
mlxtend==0.20.0
mock==4.0.3
monotonic==1.6
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.2
multiaddr==0.0.9
multidict==6.0.2
multimethod==1.8
multipledispatch==0.6.0
multiprocess==0.70.13
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic==0.3.7
nbclient==0.5.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.1
netaddr==0.8.0
networkx==2.6.3
nltk==3.6.5
nose==1.3.7
notebook-shim==0.1.0
notebook==6.4.5
nox==2020.12.31
numba==0.55.2
numexpr==2.7.3
numpy==1.21.5
numpydoc==1.1.0
oauthlib==3.2.0
olefile==0.46
omegaconf==2.2.1
openpyxl==3.0.9
opt-einsum==3.3.0
optuna==2.10.0
orjson==3.6.8
oyaml==1.0
packaging==21.3
pandas-gbq==0.17.4
pandas-profiling==3.2.0
pandas==1.3.5
pandocfilters==1.4.3
panel==0.12.7
param==1.12.1
paramiko==2.11.0
parsimonious==0.8.1
parso==0.8.2
partd==1.2.0
path==16.0.0
pathlib2==2.3.6
pathos==0.2.9
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.2
pbr==5.9.0
pendulum==2.1.2
pep517==0.12.0
pep8==1.7.1
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
pillow==8.4.0
pip-tools==6.6.2
pip==22.1.2
pkginfo==1.7.1
platformdirs==2.5.1
plotly==5.5.0
pluggy==1.0.0
ply==3.11
pmdarima==1.8.5
pox==0.3.1
poyo==0.5.0
ppft==1.7.6.5
prettytable==3.3.0
prison==0.2.1
progressbar2==4.0.0
prometheus-client==0.11.0
prometheus-flask-exporter==0.20.2
promise==2.3
prompt-toolkit==3.0.20
proto-plus==1.18.1
protobuf==3.19.4
psutil==5.9.0
psycopg2-binary==2.9.3
ptyprocess==0.7.0
py4j==0.10.9.5
py==1.11.0
pyamg==4.2.3
pyaml==21.10.1
pyarrow==6.0.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycaret==3.0.0rc1
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.21
pycryptodome==3.14.1
pyct==0.4.8
pycurl==7.44.1
pydantic==1.8.2
pydata-google-auth==1.4.0
pydeck==0.7.1
pydeprecate==0.3.2
pydocstyle==6.1.1
pydotplus==2.0.2
pydub==0.25.1
pyerfa==2.0.0
pyflakes==2.3.1
pygam==0.8.0
pygls==0.11.3
pygments==2.11.2
pyjwt==1.7.1
pylint==2.9.6
pyls-spyder==0.4.0
pympler==1.0.1
pynacl==1.5.0
pynndescent==0.5.7
pynomaly==0.3.3
pyod==1.0.1
pyodbc==4.0.0-unsupported
pyopenssl==21.0.0
pyparsing==2.4.7
pyperclip==1.8.2
pyro-api==0.1.2
pyro-ppl==1.8.0+0ec1e87
pyrsistent==0.18.1
pysocks==1.7.1
pytest==6.2.4
python-daemon==2.3.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-json-logger==2.0.2
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-multipart==0.0.5
python-nvd3==0.15.0
python-slugify==4.0.1
python-utils==3.3.3
python3-openid==3.2.0
pytorch-lightning==1.6.4
pytz-deprecation-shim==0.1.0.post0
pytz==2021.3
pytzdata==2020.1
pyviz-comms==2.2.0
pywavelets==1.1.1
pyxdg==0.27
pyyaml==5.4.1
pyzmq==22.2.1
qdarkstyle==3.0.2
qpd==0.2.7
qstylizer==0.1.10
qtawesome==1.0.2
qtconsole==5.1.1
qtpy==1.10.0
querystring-parser==1.2.4
ray==1.12.1
redis==4.3.3
regex==2021.8.3
requests-oauthlib==1.3.1
requests==2.27.1
retrying==1.3.3
rfc3986==1.5.0
rich==12.0.1
rlp==2.0.1
rope==0.21.1
rsa==4.8
rtree==0.9.7
ruamel-yaml-conda==0.15.100
salib==1.4.5
schemdraw==0.14
scikit-image==0.18.3
scikit-learn-intelex==2021.20210714.170444
scikit-learn==1.1.1
scikit-optimize==0.9.0
scikit-plot==0.3.7
scikit-uplift==0.4.0
scipy==1.7.1
seaborn==0.11.2
secretstorage==3.3.1
semantic-version==2.9.0
semver==2.13.0
send2trash==1.8.0
sentry-sdk==1.6.0
setproctitle==1.2.2
setuptools==58.0.4
shap==0.40.0
shortuuid==1.0.9
simplegeneric==0.8.1
singledispatch==3.7.0
sip==4.19.13
six==1.16.0
skope-rules==1.0.1
sktime==0.11.4
slicer==0.0.7
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.2.1
sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder-kernels==2.1.3
spyder==5.1.5
sqlalchemy-bigquery==1.4.3
sqlalchemy-jsonfield==1.0.0
sqlalchemy-utils==0.38.2
sqlalchemy==1.3.24
sqlparse==0.4.2
starlette==0.17.1
statsforecast==0.5.5
statsmodels==0.12.2
stevedore==3.5.0
streamlit==1.10.0
swagger-ui-bundle==0.0.9
sympy==1.9
tables==3.6.1
tabulate==0.8.9
tangled-up-in-unicode==0.2.0
tbats==1.1.0
tbb==0.2
tblib==1.7.0
tenacity==8.0.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.8.0
tensorboardx==2.5.1
termcolor==1.1.0
terminado==0.9.4
testpath==0.5.0
text-unidecode==1.3
textblob==0.17.1
textdistance==4.2.1
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2021.7.2
tinycss2==1.1.1
tinycss==0.4
toml==0.10.2
tomli==2.0.1
toolz==0.11.1
toposort==1.7
torch==1.11.0
torchaudio==0.11.0
torchmetrics==0.8.0
torchvision==0.12.0
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
treeinterpreter==0.2.3
triad==0.6.2
tune-sklearn==0.4.3
typed-ast==1.4.3
typeguard==2.13.3
typing-extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
ua-parser==0.10.0
uc-micro-py==1.0.1
ujson==5.2.0
umap-learn==0.5.3
umap==0.1.1
unicodecsv==0.14.1
unidecode==1.2.0
uritemplate==3.0.1
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
validators==0.20.0
varint==1.0.2
virtualenv==20.14.0
visions==0.7.4
waitress==2.1.2
wandb==0.12.19
watchdog==2.1.3
watchgod==0.8.2
wcwidth==0.2.5
web3==5.29.1
webencodings==0.5.1
websocket-client==1.3.2
websockets==9.1
werkzeug==2.0.3
wheel==0.37.0
whichcraft==0.6.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.14.0
wtforms==2.3.3
wurlitzer==2.1.1
xgboost==1.6.1
xlrd==2.0.1
xlsxwriter==3.0.1
xlwt==1.3.0
yapf==0.31.0
yarl==1.7.2
yellowbrick==1.4
zict==2.0.0
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0